.left-colum
					.info
						.info_bg
						.info_avatar
							img(src='assets/img/avatar.png', alt='avatar', width='100px')
							p.info_name Dave Gamache
							p.info_coment I wish i was a little bit taller, wish i had a girl… also.
							.info_friend
								a(href='#')
										| Friends
										h6 12M
								.ob
								a(href='#')
										| Enemies
										h6 1
					.about
						h2 About
						a(href='#') Edit
						p
							i.far.fa-calendar-alt
							|  Went to 
							a(href='#') Oh, Canada
						p
							i.fas.fa-user-friends
							| Became friends with 
							a(href='#') Obama
						p
							i.fab.fa-github-alt
							| Worked at 
							a(href='#') Github
						p
							i.fas.fa-home
							|  Lives in 
							a(href='#') San Francisco, CA
						p
							i.fas.fa-map-marker-alt
							| From 
							a(href='#') Seattle, WA
					.photos
						h2 Photos
						a(href='#') Edit
						.photos_wrapp
							img(src='assets/img/instagram_5.jpg', alt='instagram', width='114px', height='115px')
							img(src='assets/img/instagram_6.jpg', alt='instagram', width='114px', height='115px')
							img(src='assets/img/instagram_7.jpg', alt='instagram', width='114px', height='115px')
							img(src='assets/img/instagram_8.jpg', alt='instagram', width='114px', height='115px')
							img(src='assets/img/instagram_9.jpg', alt='instagram', width='114px', height='115px')
							img(src='assets/img/instagram_10.jpg', alt='instagram', width='114px', height='115px')