.middle-column
	.form-wrapper
		form
			input.form-search(type = "text" placeholder = "Message") 
			input.button-search(type = "submit" value = "")
	.first-post__wrapper
		.first-post
			img.avatar-dave__post(src="assets/img/dave-post.png", alt="")
			.first-post_content
				.sign
					p.name Dave Gamache
					p.post-time 4 min
				p.first-post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laudantium neque ab quidem nobis quas delectus ipsa sequi consequatur vitae laborum modi, temporibus facere omnis quam, beatae blanditiis quaerat animi velit ad esse. Quasi aperiam facere odit corporis nemo alias, optio repellendus laudantium voluptatem reprehenderit, nisi magni ipsa dignissimos quam.
				.post-img__wrapper
					img.pic1(src="assets/img/photo 1.jpg", alt="")
					img.pic2(src="assets/img/photo 2.jpg", alt="")
					img.pic3(src="assets/img/photo 3.jpg", alt="")
					img.pic4(src="assets/img/photo 4.jpg", alt="")
				.comment
					img.avatar-jacon__comment(src="assets/img/jacon-comment.png", alt="")
					span.name.first-comment__text Jacon Thornton:
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur architecto pariatur officia, dolorum quia explicabo ex esse delectus in hic a excepturi odit officiis recusandae saepe fuga eligendi assumenda dolore quam debitis tempore similique suscipit mollitia atque! In, voluptatibus, eaque.
				.comment
					img.avatar-mark__comment(src="assets/img/mark-comment.png", alt="")
					span.name.second-comment__text Mark Otto:
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, natus! Ad odit asperiores, nesciunt, magni rerum ex sequi! Nisi asperiores quis doloremque temporibus tenetur sequi debitis voluptate assumenda unde, omnis.
	.second-post__wrapper
		.second-post
			img.avatar-jacon__post(src="assets/img/jacon-post.png", alt="")
			.second-post_content
				.sign
					p.name Jacob Thornton
					p.post-time 12 min
				p.second-post__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem porro maxime sed recusandae inventore quod quas, fugit vel culpa odit, harum sit dolorem numquam dolorum, provident iusto laboriosam maiores. Et praesentium, accusantium, amet, explicabo soluta, veniam dignissimos esse error perspiciatis odit provident debitis recusandae animi doloremque aliquid voluptas. Quae.
	.third-post__wrapper
		.third-post
			img.avatar-mark__post(src="assets/img/mark-post.png", alt="")
			.third-post__content
				.sign
					p.name Mark Otto
					p.post-time 34 min
				p.third-post__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem porro maxime sed recusandae inventore quod quas, fugit vel culpa odit, harum sit dolorem numquam dolorum, provident iusto laboriosam maiores. Et praesentium, accusantium, amet, explicabo soluta, veniam dignissimos esse error perspiciatis odit provident debitis recusandae animi doloremque aliquid voluptas. Quae.
				.comment
					img.avatar-dave__comment(src="assets/img/dave-comment.png", alt="")
					span.name.second-comment__text Dave Gamache:
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, natus! Ad odit asperiores, nesciunt, magni rerum ex sequi! Nisi asperiores quis doloremque temporibus tenetur sequi debitis voluptate assumenda unde, omnis.