$font-size: 14px;
$font-family: OpenSans, sans-serif;
$letter-spacing: -.01em;
body{
	min-height: 100%;
}
.coln_right {
	width: 370px;
	flex:0 0 25%;
	max-width: 25%;
	background-color: pink;
}
.visit{
	display: block;
	background-color: #fcefdc;
	border-color: #fbe8cd;
}
