.header
		.conteiner
			.navigation
				.logo(href='#')
						img(src='assets/img/brand.png', alt='logo', width='100px')
				nav.nav
					a(href='#') Home
					a(href='#') Profile
					a(href='#') Messages
					a(href='#') Docs
			.search
					input.search-input(type='text', placeholder='Search')
					i.far.fa-bell
					img(src='assets/img/avatar.png', alt='AVATAR', width='35px', height='35px')